<div class="container">                    
<div class="product__details__tab">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Profile settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Address</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Order history</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tabs-1" role="tabpanel">
            <h6>Description</h6>
            @await Component.InvokeAsync("CustomerInformation")
        </div>
        <div class="tab-pane" id="tabs-2" role="tabpanel">
            <h6></h6>
            @await Component.InvokeAsync("CustomerAddressEdit")
        </div>
        <div class="tab-pane" id="tabs-3" role="tabpanel">
            <h6>Order History</h6>
            @await Component.InvokeAsync("OrderHistory")
        </div>
    </div>
</div>
</div>